@media screen and (min-width: 910px) {
    /* Used in JS */

    .menu-icon {
        display: none;
    } 

    .modal {
        display: none; 
    }

    .login-icon {
        display: block; 
        cursor: pointer; 
    } 

    .search-main-head-icon {
        z-index: 10; 
        outline: none; 
    }

    .search-main-head-iconQuery {
        position: relative; 
        left: -5px;  
        padding: 5px;
        border-radius: 10px;  
        text-align: left; 
    }

    /* =========== */


    .container-games {
        flex-direction: row !important;  
    }
 
    .game-title {  
        align-self: flex-start !important;      
    } 

    .description { 
        align-self: flex-start;  
        width: 65%;  
    }

    .modal-container-login {
        height: 60% !important;
        width: 60% !important;    
    }
} 