.modalUserOptions {
    display: block;
    position: absolute;
    top: 76px;
    right: 10px;
    width: 30%;
    /* height: 100px; */
    background-color: #cfcfcf;
    border: 1px solid rgba(0, 0, 0, 0.295);
    box-shadow: 6px 0px 0px 0px rgba(0, 0, 0, 0.301);
    border-radius: 10px;
    z-index: 999;
    cursor: pointer;
    

    .modal-elements {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        margin: 10px 0px;


        .elements {
            display: flex;
            color: #0A0B0D; 
            flex-direction: column;
            justify-content: center; 
            align-items: center; 
            height: 100%;
            width: 100%;  
            gap: 15px;  


            div { 
                text-align: center;
                width: 50%;  
                background-color: #A4A5A6; 
                border: 1px solid rgba(0, 0, 0, 0.329);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.322);
                border-radius: 5px;
                padding: 5px;

                &:hover {
                    cursor: pointer; 
                    background-color: #395772; 
                    color: white;    
                    transition: background-color .1s;
                     
                }
            }
        }
    } 
}